body {
  padding: 24px;
}

.low-usage {
  background-color: green;
}

.medium-usage {
  background-color: blue;
}

.high-usage {
  background-color: red;
}

#thermo {
  padding: 24px;
}

#weather-checker {
  padding-top: 24px;
}